<div class="container-fluid">

    <button class="btn btn-primary" (click)="GetOne()">Gell Items</button>
    <br /><br />

    <input type="number" [(ngModel)]="itemNo" placeholder="Enter Item No." />

</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Product Serial No.</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Cost</th>
            </tr>

            <tr class="table-dark" *ngFor="let value of data">

                <td scope="row">{{value.itemNo}}</td>
                <td>{{value.itemName}}</td>
                <td>{{value.itemPrice}}</td>
            </tr>
        </thead>
    </table>
</div>